server {
    listen 8080;
    server_name ${FEED_SERVER_NAME};
    client_max_body_size 1m;
    access_log off;

    location = /healthz {
        return 200 'ok';
    }

${FEED_LOCATION_BLOCKS}

    location / {
        return 404;
    }
}
